/* index.vue作为一个入口文件,不同的样式文件都是从这里导入的 */
@import './vars.css';
@import './reset.css';
@import '../components/Button/style.css';
@import '../components/Collapse/style.css';
@import '../components/Icon/style.css';
@import '../components/Tooltip/style.css';
@import '../components/Dropdown/style.css';
@import '../components/Message/style.css';
@import '../components/Input/style.css';
@import '../components/Switch/style.css';
@import '../components/Select/style.css';
@import '../components/Alert/style.css';